.red
{
    color:Red;
}
.error,.error:focus{
    border-color:red !important;
    -webkit-box-shadow:0px 0px 5px red !important;
    -moz-box-shadow:0px 0px 5px red  !important;
    box-shadow:0px 0px 5px red  !important;
    background-image: url('../images/warning.png') !important;
    background-repeat: no-repeat;
    background-position: right center;
}
.error.noterroricon,.error.noterroricon:focus{
	background-image:none !important;
}